

<div class="container">

	<app-header></app-header>
	<app-content></app-content>
	<app-footer></app-footer>



</div>

<!--  
<div class="container" style="border: 1px solid silver; background-color: white; margin-top: 7px; border-radius: 4px; padding: 10px; width: 1600px;" >
	
	<br><br>	

	<div class="row">
		<div class="col-sm-2 border">
			<nav class="nav flex-column">
			  <a class="nav-link active" routerLink="/user-list">User list</a>
			  <a class="nav-link" [routerLink]="[{ outlets: { primary1: ['user-list'] } }]">User list (outlet)</a>
			  <a class="nav-link" href="#">User details</a>
			  <a class="nav-link disabled" href="#">Disabled</a>
			</nav>
		</div>

		<div class="col-sm-10 border"> 
			<p class="red">Page title - {{ title }} </p>
			<router-outlet name="primary1"></router-outlet>
		</div>
	</div>
	
	<br><br>	
	
	<div>
		
	</div>
	
</div>
-->