<div style="padding-top: 5px;">
	<p style="font-size: 21pt;">
		<img src="assets/img/logo.png" style="width: 25px;">
		&nbsp;
		Open Robotix
	</p>
</div>
			<nav class="navbar navbar-dark bg-dark mb-5">
			  <div class="navbar-expand mr-auto">
			    <div class="navbar-nav">
			      <a class="nav-item nav-link active" href="#">Home</a>
			      <a class="nav-item nav-link" href="#">About</a>
			      <a class="nav-item nav-link" href="#">Contact</a>
			    </div>
			  </div>
			  <div class="navbar-expand ml-auto navbar-nav">
			    <div class="navbar-nav">
			      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
			        <i class="fa fa-github"></i>
			      </a>
			      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
			        <i class="fa fa-twitter"></i>
			      </a>
			      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
			        <i class="fa fa-medium"></i>
			      </a>
			    </div>
			  </div>
			</nav>	
			
			<nav>
			    <ul class="nav">
					<li><a href="#">Link 1</a></li>
					<li>
						<a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Link 2 (toggle)</a>
						<ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
							<li><a href="#">Link 2.1</a></li>
							<li><a href="#">Link 2.2</a></li>
							<li><a href="#">Link 2.3</a></li>
						</ul>
					</li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
			  </ul>			


