<div>
	<header>
		{{screenTitle}} - {{screenMode}}
	</header>
</div>

<!-- Toolbar -->
<div>
	<button type="button" routerLink="../list">List</button>
	<button type="button" routerLink="../add">Add</button>
	<button type="button" [routerLink]="['../edit', {id: record.id}]">Edit</button>
	<button type="button" (click)="delete(record.id)">Delete</button>
	<button type="button" (click)="save()" >Save</button>
	<button type="button" (click)="cancel()">Cancel</button>
</div>

<div *ngIf="(screenMode == 'list')">
	<table class="tblGrid" style="width: 600px;">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th></th>
		</tr>
		
		
		<tr *ngFor="let record of recordList" (click)="select(record)">
			<td>{{record.id}}</td>
			<td>{{record.name}}</td>
			<td>{{record.emailAddress}}</td>
			<td>
				<a [routerLink]="['/users/view', {id: record.id}]">View</a>
			</td>
		</tr>
	</table>
</div>

<div *ngIf="screenMode == 'view' || screenMode == 'edit' || screenMode == 'add'">
	<table>
		<tr>
			<td>ID</td>
			<td><input [disabled]="screenMode != 'edit'" [(ngModel)]="record.id"></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input [disabled]="screenMode != 'edit'" [(ngModel)]="record.name"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input [disabled]="screenMode != 'edit'" [(ngModel)]="record.emailAddress"></td>
		</tr>
	</table>
</div>